
.main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(71, 71, 71);
    background-color: rgb(202, 223, 223);
    display: grid;
    justify-content: center;
    gap: 40px;

    .main__title{
        font-size: 5rem;
        justify-self: center;
    }

    .main__section{
        width: 1080px;
        background-color: rgb(154, 172, 172, 0.3);
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.7fr 2fr;
        align-items: start;

        .section__title{
            font-size: 3rem;
            justify-self: center;
        }
        .section__gif{
            width: 300px;
            height: 300px;
            margin-bottom: 50px;
            justify-self: center;

            img {
                @extend .section__gif;
            }
        }
        .section__list{
            width: 900px;
            margin: 0;
            display: grid;
            list-style: square;
            align-self: stretch;
            justify-self: center;


            .list__sublist{
                

                .sublist__title{
                    font-size: 2rem;
                }
                .sublist__img{
                    width: 40px;
                }
                .sublist__container{
                    background-color: rgb(70, 70, 70);
                    width: 400px;
                    height: 300px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    .container__item{
                        background-color: rgb(70, 70, 70);
                        border: 1px solid black;
                    }
                }
            }
        }
        .intro{
            font-size: 2.5rem;
        }
    }

    .terminologie {
        @extend .main__section;
        grid-template-rows: 0.1fr 0.1fr 1fr;

        .section__list{
            row-gap: 50px;

            .list__sublist{

                .grid_container{
                    border: 5px solid orange;
                }

                .grid_item{
                    border: 5px solid orange;

                    .container__item{
                        border: 5px solid orange;
                    }
                }
                .grid_line :nth-child(3n+1){
                    border-right: 5px solid orange;
                }
                .grid_cell :first-child{
                    background-color: orange;
                    border: 5px solid orange;
                }
                .grid_track :nth-child(3n+1){
                    background-color: orange;
                    border: 5px solid rgb(255, 136, 0);
                    border-top: none;
                    border-bottom: none;
                }
                .grid_area :nth-child(3n+1),.grid_area :nth-child(3n+2){
                   background-color: orange;
                }   
            }
        }
    }

    .properties{
        @extend .terminologie;
        grid-template-rows: .1fr .1fr 2.1fr;

        
        .section__list{
            row-gap: 50px;

            .list__sublist{

                .grid_template{

                    .container__block{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;

                        .block__item{
                            border: 1px solid black;
                            background-color: orange;
                        }
                    }

                }


                .sublist__container{
                    @extend .sublist__container;
                    width: 900px;
                    background-color: transparent;
                    display: grid;
                    grid-template: 1fr / 1fr 1fr;
                    column-gap: 10px;

                    .container__block{
                        @extend .container__item;
                    }

                    .container__code{
                        font-size: 1.2rem;
                        background-color: black;
                        border: 2px solid grey;
                        color: rgb(206, 173, 28);
                        line-height: 5px;

                        .green {
                            color: rgb(100, 241, 6);
                        }
                    }
                }

                .grid_area2{
                    .container__block{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        

                        .block__item{
                            border: 1px solid black;
                            background-color: orange;
                        }

                        .item1 {
                            grid-area: header;
                            background-color: red;
                            grid-area: 1 / 2 / 3 / 2;
                        }
                    }
                }

                .grid_template_area{
                    
                    .container__block{
                        
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        

                        .block__item{
                            border: 1px solid black;
                            background-color: orange;
                        }
                        .item1 {
                            grid-area: header;
                            background-color: red;
                        }
                        .item2 {
                            grid-area: side;
                            background-color: orange;
                        }
                        .item3 {
                            grid-area: footer;
                            background-color: green;
                        }
                    }
                    .template_area{
                        grid-template-areas:
                        "header header side"
                        "footer footer side";
                    }
                    .container__code{
                        font-size: 0.9rem;
                    }
                }

                .grid_startend{
                    .container__block{
                        
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        

                        .block__item{
                            border: 1px solid black;
                            background-color: orange;
                        }
                        .item1 {
                            grid-column: 2 / 4;
                            grid-row: 1 / 2;
                            background-color: red;
                        }
                        .item2 {
                            grid-column: 1 / 2;
                            grid-row: 1 / 3;
                            background-color: orange;
                        }
                        .item3 {
                            grid-column: 2 / 4;
                            grid-row: 2 / 3;
                            background-color: green;
                        }
                    }
                    .container__code{
                        font-size: 1rem;
                    }
                }
                .grid_gap{
                    .container__block{
                        
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        gap: 20px 10px;
                        

                        .block__item{
                            border: 1px solid black;
                            background-color: orange;
                        }
                    }
                }

                .grid_place{
                    .container__block{
                        
                        display: grid;
                        place-items: center;
                        

                        .block__item{
                            width: 40px;
                            height: 40px;
                            border: 1px solid black;
                            background-color: orange;
                            justify-content: center;
                        }
                        .item1{
                            width: 25px;
                            height: 25px;
                            background-color: red;
                            justify-self: end;
                        }
                        .item2{
                            width: 25px;
                            height: 25px;
                            background-color: green;
                            justify-self: center;
                            align-self: start;
                        }
                    }
                    .container__code{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    .conclusion {
        display: grid;
        grid-template: 0.1fr 1fr 0.5fr 0.1fr / 1fr;

        .section__gif{
            width: 400px;

            img{
                width: 400px;
            }
        }
        .section__text{
            width: 900px;
            justify-self: center;
        }
        .section__title3{
            width: 900px;
            justify-self: center;
        }
        .section__list{
            margin-bottom: 50px;
        }
    }
}


